  
html
{
    background-color: rgb(250, 255, 238);
}

body
{
}

h1
{
    color: rgb(60, 255, 0);
    text-transform: uppercase;
}
p
{


}

#my-photo
{


}
.links
{

}

.container
{

}

.titles
{
    color: rgb(0, 225, 255);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.name
{
 colour:green
}

    